@media (min-width: 768px) {
.Project-details {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
  }
  .Details
  {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    height: 250px;
    margin-left: 100px;
    margin-bottom: 100px;
    border-radius:10px 10px 10px 10px ;

    /* border-top-right-radius:100px ; */

   
  }
  .Detail2
  {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius:200px ;
  }
  
  .Project-Image {
    width: 200px;
    height: 200px;
    padding: 4px;
    
    position: relative; /* Added to make the "Check" data relative to the image */
  }
  
  .Check {
    opacity: 0;
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.8); 
    border-radius:10px 10px 10px 10px ;
    color: white; 
    

    transition: opacity 0.3s ease-in-out; 
  }
  
  .Project-Image:hover .Check {
    opacity: 1;
  }
  .Project-details
  {
    opacity: 0;
    animation: fadeIn infinite ease-in-out 4s forwards;
  }
  .Project-details:hover{
    animation: fadeIn 0.01ms ease-in-out 4s forwards;

  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
@media (max-width: 768px) {
  .Project-details {
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      position: relative;
    }
    .Details
    {
      width: 250px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
      height: 250px;
      margin-left: 10px;
      margin-bottom: 40px;
      border-radius:10px 10px 10px 10px ;
  
      /* border-top-right-radius:100px ; */
  
     
    }
    .Detail2
    {
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-right-radius:200px ;
    }
    
    .Project-Image {
      width: 200px;
      height: 200px;
      padding: 4px;
      
      position: relative; /* Added to make the "Check" data relative to the image */
    }
    
    .Check {
      opacity: 0;
      position: absolute;
      top: 0; 
      left: 0; 
      width: 100%; 
      height: 100%; 
      background-color: rgba(0, 0, 0, 0.8); 
      border-radius:10px 10px 10px 10px ;
      color: white; 
      
  
      transition: opacity 0.3s ease-in-out; 
    }
    
    .Project-Image:hover .Check {
      opacity: 1;
    }
    .Project-details
    {
      opacity: 0;
      animation: fadeIn infinite ease-in-out 4s forwards;
    }
    .Project-details:hover{
      animation: fadeIn 0.01ms ease-in-out 4s forwards;
  
    }
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  